footer
	.container
		.footer-content
			.footer-content__copyright
				| Профессиональное обустройство гаража&nbsp;
				span ©&nbsp;
				| 2019
			.footer-content__company ИП Яблонский, ИНН: 660900267869