section.services
	.container
		.services-head
			h2.h2 Услуги
			.content-line
			p В стоимость включены материалы, доставку и стоимость работ по монтажу, все цены индвидуальны для каждого проекта.
		.services-list
			.services-list__item#rackFunction(itemscope='' itemtype='http://schema.org/Product' onclick="openInNewTab('#popup:marquiz_5d7f064f1831f90044c56e9e');")
				.item-image(itemprop='image')
					img(src='/assets/img/services/usluga-1.jpg' alt='image' title='Организация модульной системы хранения в гараже c имеющейся отделкой')
				.item-content(itemprop='name') Организация модульной системы хранения в гараже c имеющейся отделкой
				.item-price от 100.000 рублей
					div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
						meta(itemprop='price' content='100000.00')
						meta(itemprop='priceCurrency' content='RUB')
				.item-button
					a(class=['button', 'button-primary'], href='#popup:marquiz_5d7f064f1831f90044c56e9e') К рассчёту стоимости
			.services-list__item#qualityFunction(itemscope='' itemtype='http://schema.org/Product' onclick="openInNewTab('#popup:marquiz_5d7f064f1831f90044c56e9e');")
				.item-image(itemprop='image')
					img(src='/assets/img/services/usluga-2.jpg' alt='image')
				.item-content(itemprop='name') Полная отделка гаража от пола до потолка с применением несущих панелей
				.item-price от 500.000 рублей
					div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
						meta(itemprop='price' content='500000.00')
						meta(itemprop='priceCurrency' content='RUB')
				.item-button
					a(class=['button', 'button-primary'], href='#popup:marquiz_5d7f064f1831f90044c56e9e') К рассчёту стоимости
			.services-list__item(itemscope='' itemtype='http://schema.org/Product' onclick="openInNewTab('#popup:marquiz_5d7f064f1831f90044c56e9e');")
				.item-image(itemprop='image')
					img(src='/assets/img/services/usluga-3.jpg' alt='image')
				.item-content(itemprop='name') Отделка пола, потолка и частичная отделка стен гаража как основы для системы хранения
				.item-price от 300.000 рублей
					div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
						meta(itemprop='price' content='300000.00')
						meta(itemprop='priceCurrency' content='RUB')
				.item-button
					a(class=['button', 'button-primary'], href='#popup:marquiz_5d7f064f1831f90044c56e9e') К рассчёту стоимости
			//- row 2
			.services-list__item#heatingFunction(itemscope='' itemtype='http://schema.org/Product' onclick="openInNewTab('#popup:marquiz_5d7f064f1831f90044c56e9e');")
				.item-image(itemprop='image')
					img(src='/assets/img/services/usluga-4.jpg' alt='image')
				.item-content(itemprop='name') Комплексное обустройство гаража: отделка, освещение, отопление, система хранения
				.item-price от 700.000 рублей
					div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
						meta(itemprop='price' content='700000.00')
						meta(itemprop='priceCurrency' content='RUB')
				.item-button
					a(class=['button', 'button-primary'], href='#popup:marquiz_5d7f064f1831f90044c56e9e') К рассчёту стоимости
			.services-list__item#floorFunction(itemscope='' itemtype='http://schema.org/Product' onclick="openInNewTab('#popup:marquiz_5d7f064f1831f90044c56e9e');")
				.item-image(itemprop='image')
					img(src='/assets/img/services/usluga-5.jpg' alt='image')
				.item-content(itemprop='name') Устройство гаражного напольного покрытия с выкружкой, обустройство люков
				.item-price от 100.000 рублей
					div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
						meta(itemprop='price' content='100000.00')
						meta(itemprop='priceCurrency' content='RUB')
				.item-button
					a(class=['button', 'button-primary'], href='#popup:marquiz_5d7f064f1831f90044c56e9e') К рассчёту стоимости
			.services-list__item(itemscope='' itemtype='http://schema.org/Product' onclick="openInNewTab('#popup:marquiz_5d7f064f1831f90044c56e9e');")
				.item-image(itemprop='image')
					img(src='/assets/img/services/usluga-6.jpg' alt='image')
				.item-content(itemprop='name') Финишное покрытие лестниц полимерным составом – защитная и эстетическая функция
				.item-price от 100.000 рублей
					div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
						meta(itemprop='price' content='100000.00')
						meta(itemprop='priceCurrency' content='RUB')
				.item-button
					a(class=['button', 'button-primary'], href='#popup:marquiz_5d7f064f1831f90044c56e9e') К рассчёту стоимости
			script(type='text/javascript').
				function openInNewTab(url) {
				var win = window.open(url, '_blank');
				win.focus();
				}