extends ../layout/main

block variables
	- var title = 'Отделка гаража под ключ в Екатеринбурге';
	- var description = 'Комплексное обустройство гаражей и подсобных помещений в Екатеринбурге';
	- var pageClass = '';
	- var ogTitle = 'Отделка гаража под ключ в Екатеринбурге';
	- var ogDescription = 'Комплексное обустройство гаражей и подсобных помещений в Екатеринбурге';
	- var ogUrl = 'https://garage-ekb.ru';

block script