@font-face {
	font-family: "Circe-Regular";
	font-display: auto;
	src: url('/assets/fonts/Circe/Circe-Regular.eot');
	src: url('/assets/fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Circe/Circe-Regular.woff') format('woff'),
		url('/assets/fonts/Circe/Circe-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Circe-Bold";
	font-display: auto;
	src: url('/assets/fonts/Circe/Circe-Bold.eot');
	src: url('/assets/fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Circe/Circe-Bold.woff') format('woff'),
		url('/assets/fonts/Circe/Circe-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "Circe-ExtraBold";
	font-display: auto;
	src: url('/assets/fonts/Circe/Circe-ExtraBold.eot');
	src: url('/assets/fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Circe/Circe-ExtraBold.woff') format('woff'),
		url('/assets/fonts/Circe/Circe-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: "Circe-Light";
	font-display: auto;
	src: url('/assets/fonts/Circe/Circe-Light.eot');
	src: url('/assets/fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Circe/Circe-Light.woff') format('woff'),
		url('/assets/fonts/Circe/Circe-Light.ttf') format('truetype');
}